
@import "../../../assets/scss/variables.scss";

.excerpt {
    padding: 8px 10px;
    border-radius: 5px;
    font-size: $font-md;
    width: 100%;
    height: auto;
    max-height: 175px;
    overflow: hidden;
    &.dark {
        background: rgba($color: $white, $alpha: 0.2);
        color: $white;
    }
    &.light {
        background: rgba($color: $primary, $alpha: 0.2);
        color: $dark;
    }
}